.candidatos-container {
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1200px;
  color: white;
}

.candidatos-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffba3b;
}

.candidatos-mosaico {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
}

.candidato-mosaico {
  background-color: #1a1a1a;
  border: 2px solid #ffbd44;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0 15px #ffa600;
  aspect-ratio: 1 / 1;
}

.candidato-mosaico:hover {
  transform: scale(1.05);
}

.candidato-mosaico-foto {
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.candidato-mosaico-nombre {
  font-size: 1.4rem;
  color: #ffbd44;
}

/* ====== Detalle ====== */
.detalle-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  color: white;
}

.detalle-card {
  display: flex;
  background-color: #1a1a1a;
  border: 2px solid #ffbd44;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px #ffa600;
  gap: 20px;
}

.detalle-foto {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #ffb01e;
}

.detalle-descripcion h2 {
  font-size: 1.6rem;
  color: #ffbd44;
  margin-bottom: 15px;
}

.detalle-descripcion h3 {
  font-size: 1.2rem;
  color: #ffba3b;
  margin-top: 20px;
  margin-bottom: 10px;
}

.detalle-descripcion p,
.detalle-descripcion li {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 8px;
}

.detalle-descripcion strong {
  color: #ffba3b;
}

/* Responsive */
@media (max-width: 768px) {
  .candidatos-mosaico {
    grid-template-columns: 1fr;
  }

  .detalle-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalle-foto {
    margin-bottom: 15px;
  }
}

@media (max-width: 492px) {
  .detalle-container {
    padding-bottom: 45px;
  }

  .candidatos-container {
    padding-bottom: 150px;
  }
}