.cookie-banner {
  position: fixed;
  left: 5%;
  top: 3%;
  width: 90%;
  height: 94%;
  background: rgba(34, 34, 34, 0.979);
  color: #bbbbbb;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cookie-text {
  margin-bottom: 20px;
  line-height: 1.4;
}

.cookie-buttons {
  display: flex;
  gap: 200px;
}

.cookie-btn {
  background-color: #ffbd41;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cookie-btn:hover {
  transform: scale(1.1);
}
