/* ====== Estilos Home ====== */
body, html {
  background-color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

.home-title {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
  color: #ffba3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ffb937, #d39523, #ffb937);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  margin-top: 90px;
}

.home-title span {
  font-style: italic;
  color: inherit;
}

.carousel-container {
  margin-top: 15px;
}

.carousel-img,
.carousel-video {
  width: 100%;
  max-height: 45vh;
  object-fit: contain;
  background-color: black;
  display: block;
  margin: 0 auto;
}

.boton-votar {
  padding: 14px 40px;
  font-size: 1.3rem;
  background-color: black !important;
  border-color: #ffbd41 !important;
  border-radius: 12px !important;
  color: #ffbd41 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 0px 20px rgba(255, 176, 30, 0.8);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 30px;
}

.boton-votar:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1.3);
}

@media (max-width: 992px) {
  .home-title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .home-title {
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 0 10px;
  }

  .carousel-img,
  .carousel-video {
    max-height: 65vh;
    object-fit: cover;
  }

  .boton-votar {
    font-size: 1rem;
    padding: 12px 25px;
  }
}
